.l-col-1 {
  width: 16.66667%;
}

.l-col-2 {
  width: 33.33333%;
}

.l-col-3 {
  width: 50%;
}

.l-col-4 {
  width: 66.66667%;
}

.l-col-5 {
  width: 83.33333%;
}

.l-col-6 {
  width: 100%;
}

@media (min-width: 30em) {
  .l-col-large-1 {
    width: 8.33333%;
  }

  .l-col-large-2 {
    width: 16.66667%;
  }

  .l-col-large-3 {
    width: 25%;
  }

  .l-col-large-4 {
    width: 33.33333%;
  }

  .l-col-large-5 {
    width: 41.66667%;
  }

  .l-col-large-6 {
    width: 50%;
  }

  .l-col-large-7 {
    width: 58.33333%;
  }

  .l-col-large-8 {
    width: 66.66667%;
  }

  .l-col-large-9 {
    width: 75%;
  }

  .l-col-large-10 {
    width: 83.33333%;
  }

  .l-col-large-11 {
    width: 91.66667%;
  }

  .l-col-large-12 {
    width: 100%;
  }
}
